.navrow {
  height: 10vh;
  width: 100vw;
  justify-content: space-between;
}
.navvbar {
  height: 100vh;
  width: 15rem;
  overflow: scroll initial;
  margin: 0;
}
#ulCont {
  width: 100%;
}
.divIcon {
  margin-right: 1rem;
}
.iconOff {
  color: rgba(var(--bs-dark-rgb));
}
.brand {
  height: 10vh;
}
.toggle-button {
  color: rgba(var(--bs-dark-rgb));
}
#Inicio {
  margin-top: 0.2rem !important;
}
